alabaster==0.7.12
appdirs==1.4.3
attrs==19.3.0
Babel==2.7.0
cached-property==1.5.1
cachetools==3.1.1
certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
defusedxml==0.6.0
docutils==0.15.2
google-auth==1.8.2
google-auth-oauthlib==0.4.1
googleads==22.0.0
idna==2.8
imagesize==1.1.0
isodate==0.6.0
Jinja2==2.10.3
kiwisolver==1.1.0
lxml==4.4.2
MarkupSafe==1.1.1
matplotlib==3.1.2
nltk==3.4.5
numpy==1.17.4
oauthlib==3.1.0
packaging==19.2
pandas==0.25.3
Pillow==6.2.1
pyasn1==0.4.8
pyasn1-modules==0.2.7
Pygments==2.7.4
PyOpenGL==3.1.4
pyparsing==2.4.5
PyQt5==5.11.3
PyQt5-sip==4.19.19
pyqtgraph==0.10.0
python-dateutil==2.8.1
PyTrie==0.3.1
pytz==2019.3
PyYAML==5.2
requests==2.22.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rsa==4.0
scipy==1.3.3
seaborn==0.9.0
sip==4.19.8
six==1.13.0
snowballstemmer==2.0.0
sortedcontainers==2.1.0
Sphinx==2.3.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
toml==0.10.0
urllib3==1.25.7
xmltodict==0.12.0
zeep==3.4.0
